div, p, ul, li, dl, dt, dd, form, table, tr, td, h1, h2, h3, h4, h5, h6, fieldset, body, input {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
}

body {
  /*font-family: "微软雅黑",Arial;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  background: burlywood;
  height: 100%;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


